/* Regole di reset */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-transform: none;
}

ul {
    list-style-type: none;
}

/* Utils */

.debug {
    min-height: 100px;
    padding: 5px;
    background-color: rgb(105, 52, 52);
    border: 2px dashed red;
}


.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}


a{
    color: white
}


/* Sezione .top-header */

.top-header {
    height: 80px;
    background-color: orangered;
    display: flex;
    justify-content: space-between; /* Distribuisce gli elementi */
    align-items: center; /* Allinea verticalmente */
    padding: 10px 20px;
}


.category-person{
    /* background-color: rgb(185, 183, 24); */
    padding: 7px;
    padding-bottom: 10px;
}

a{
    padding-bottom: 10px
}

.logo{
    display: flex;
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    height: 70px;
    
}

.logo-boolean{
    width: 170px;
    max-width: 100%; /* Evita che l'immagine superi i limiti */
}

.right-icons{
    color: white;
}

/* Sezione main  */

.relaxed-fit{
    margin-top: 50px;
    width: 280px;

}

.price-red{
    color: red;
}

.price-line-through{
    text-decoration: line-through;
}

.rosess-tee{
    margin-top: 50px;
    width: 280px;
}

.pastello{
    margin-top: 50px;
    width: 280px;
}

.primary-section{
    display: flex; /* Attiva Flexbox */
    justify-content: center; /* Allinea le immagini orizzontalmente al centro */
    gap: 20px; /* Distanza tra le immagini */
    margin-top: 20px;
}


.secondary-section{
    display: flex; /* Attiva Flexbox */
    justify-content: center; /* Allinea le immagini orizzontalmente al centro */
    gap: 20px; /* Distanza tra le immagini */
    margin-top: 40px;
    margin-bottom: 100px;
}

/* sezione footer */


footer{
    height: 100px;
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-around;
}

.footer-section-one, .footer-section-two{
    padding: 20px 10px;
    
   
}